node_modules
**/node_modules
dist
**/dist
.next
.turbo
**/.turbo
.git
.github
.idea
.vscode
coverage
**/coverage
*.log
.env
.env.*
!.env.example
!.env.*.example
deploy
README.md
*.md
.DS_Store
Thumbs.db
