node_modules/
dist/
build/
.next/
.turbo/
.cache/
coverage/
.react-email/

pnpm-lock.yaml
package-lock.json
yarn.lock

apps/api/prisma/migrations/

LICENSE
*.min.js
*.min.css

apps/api/.env
.env.*
!.env.example
!.env.*.example
